/* general adjustments */
:root {
    --pr-color: #541690;
    --active-color: #ff4949;
    --sc-color: #ff8d29;
    --th-color: #ffcd38;
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    background-color: var(--pr-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* general adjustments end */

/* container */

.container {
    display: flex;
    flex-direction: row;
    height: 700px;
}
/* container end */

/* toolbar */

.toolbar {
    background-color: var(--th-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 300px;
}

input[type="color"] {
	-webkit-appearance: none;
	width: 80px;
	height: 80px;
    border-radius: 100px;
    margin-top: 4px;
    margin-bottom: 45px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 100px;
}

button {
    background-color: var(--sc-color);
    width: 200px;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    font-size: 16px;
    transition: transform 0.1s;
}

.size {
    -webkit-appearance: none;
    height: 9px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.size:hover {
    opacity: 1;
}
  
.size::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--sc-color);
    cursor: pointer;
}
  
.size::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--sc-color);
    cursor: pointer;
}

.size-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    gap: 10px;
}


.btn-on {
    background-color: var(--active-color);
    color: white;
}

.btn-hover {
    transform: scale(105%);
}

/* toolbar end */

/* drawing area */

.drawing-area {
    display: grid;
    background-color: white;
    height: 700px;
    width: 700px
}

/* drawing area end */

/* footer area */

footer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

/* footer end */

/* etc */



/* etc end*/

