/* general adjustments */
:root {
    --pr-color: #541690;
    --active-color: #ff4949;
    --sc-color: #ff8d29;
    --th-color: #ffcd38;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--pr-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* general adjustments end */

/* toolbar */



/* toobar end */

/* drawing area */



/* drawing area end */

/* footer area */



/* footer end */

/* etc */



/* etc end*/

